name: Wheels

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  release:
    types:
      - published
  pull_request:
  push:

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz


  build_wheels:
    name: Wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
          - macos-13
          - macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: set vcpkg vars
        if: runner.os == 'Windows'
        shell: bash
        run: |
          echo "VCPKG_INSTALLATION_ROOT=$VCPKG_INSTALLATION_ROOT"
          echo "VCPKG_ROOT=$VCPKG_INSTALLATION_ROOT" >> $GITHUB_ENV
          echo "CMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" >> $GITHUB_ENV
          echo $CMAKE_BINARY_DIR
#          echo "where vcpkg" >> VCPKG_ROOT
          echo $VCPKG_ROOT
      - name: Setup deps (Windows)
        if: runner.os == 'Windows'
        run: |
          vcpkg new --application
          vcpkg add port pkgconf vcpkg-cmake vcpkg-cmake-config libgd
          dir /a py_gd
          dir C:/vcpkg/
          echo "CMAKE BIN DIR is : $CMAKE_BINARY_DIR"
          dir $CMAKE_BINARY_DIR
      - uses: astral-sh/setup-uv@v6

      - uses: pypa/cibuildwheel@v3.0

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: wheelhouse/*.whl
