name: Lint with flake8
on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  lint:
    name: Flake8 linting
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          miniforge-version: latest
          python-version: "3.10"
          conda-remove-defaults: true
      - name: Lint
        shell: bash -l {0}
        run: |
            conda install flake8
            # flake8 config in setup.cfg
            # python -m flake8  --exit-zero --statistics py_gd/
            python -m flake8 --statistics py_gd/
